ru_RU-denis-medium.onnx
ru_RU-denis-medium.onnx.json
ru_RU-dmitri-medium.onnx
ru_RU-dmitri-medium.onnx.json
ru_RU-irina-medium.onnx
ru_RU-irina-medium.onnx.json
ru_RU-ruslan-medium.onnx
ru_RU-ruslan-medium.onnx.json
include
libonnxruntime.so
libonnxruntime.so.1
libonnxruntime.so.1.22.0
libonnxruntime_providers_shared.so
libpiper.so
output.raw
espeak-ng-data
bin
release.zip
.aider*
file.txt
